.videodiv {
  width: 100vw;
  height: 80vh !important;
  position: relative;
  z-index: 1;
}
.video {
  width: 100%;
  object-fit: cover;
  height: 100vh !important;
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.5);
  height: 100vh;
  height: 100vh;
  width: 100%;
}
.cardbox {
  z-index: 1000;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
