.hero {
  /* margin-top: 5rem; */
}
.heading {
  white-space: nowrap;
  overflow: hidden;
  animation: typewriter 6s steps(19) 1s infinite both,
    blinkCursor 500ms steps(19) infinite;
}
@keyframes typewriter {
  from {
    width: 0;
  }
  to {
    width: 800px;
  }
}

@keyframes blinkCursor {
  from {
    border-right-color: black;
  }
  to {
    border-right-color: transparent;
  }
}
