.hero {
  width: 100vw;
  height: 100vh !important;
  position: relative;
  z-index: 1;
  overflow-x: hidden;
}
.video {
  width: 100vw;
  overflow-x: hidden;
  object-fit: cover;
  height: 100vh !important;
}
.link {
  padding: 0 2rem;
  display: grid;
  place-items: center;
  font-size: 1.2rem;
  border-radius: 0.3rem;
  font-family: "Montserrat", sans-serif;
}

.whatsapp {
  display: grid;
  place-items: center;
  font-size: 1.1rem;
  border-radius: 0.3rem;
  font-family: "Montserrat", sans-serif;
}

@keyframes blinkCursor {
  from {
    border-right-color: black;
  }
  to {
    border-right-color: transparent;
  }
}
/* @media only screen and (max-width: 320px) {
  .hero {
    max-width: 100vw;
    height: 100vh;
  }
  .video {
    width: 100vw;
    height: 100vh;
  }
} */
/* @media (min-aspect-ratio: 32/9) {
  .video {
    width: 100%;
    height: 100vh;
  }
}
@media (max-aspect-ratio: 32/9) {
  .video {
    width: 100%;
    height: 100vh;

    padding: 0;
  }
} */
